ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
  position: -webkit-sticky; /* Safari */
  top: 0;
}

li {
  float: left;
}

a.current {
  background-color: #ffcf33;
  cursor: pointer;
}

li {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li:hover {
  background-color: #ffcf33;
}
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.avatar {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 50%;
  margin-left: 15px;
}

.white {
  margin-top: auto;
  margin-bottom: auto;
  color: aliceblue;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 700;
}

.UserInfo {
  list-style-type: none;
  height: 60px;
  display: flex;
  justify-content: left;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ad0048;
}

.myButtonOut {
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:linear-gradient(to bottom, #63b8ee 25%, #468ccf 100%);
	background-color:#63b8ee;
	border-radius:6px;
	border:1px solid #3866a3;
	display:inline-block;
	cursor:pointer;
	color:#f7f9fc;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
  margin-left: 25px;
  width: 85px;
  height: 35px;
  margin-top: auto;
  margin-bottom: auto;
	text-decoration:none;
	text-shadow:0px 1px 0px #7cacde;
}
.myButtonOut:hover {
	background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
	background-color:#468ccf;
}

.login {
  margin-left: 595px;
  cursor: pointer;
}

@media (max-width: 880px) {
  ul {
    flex-direction: column;
  }

  li {
    float: unset;
  }

  .login {
    margin-left: 0px;
  }
  .myButtonOut {
    height: auto;
    margin-left: 15px;
  }
  .white {
    font-size: 14px;

  }
}
