.App {
  font-family: sans-serif;
  text-align: center;
  zoom: 100%;
}

.cardPF {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 1800px;
  margin-left: 225px;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.product-left {
  height: 100%;
  width: 550px;
  padding: 4rem 2rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  background: #333;
  color: #fff;
}

.product-right {
  height: auto;
  width: 900px;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  background: transparent;
  color: #fff;
}

.product-right img {
  height: 100%;
  width: 60%;
}

.header5 h1 {
  text-transform: uppercase;
  margin: 0.7rem 0;
  font-size: 2.5rem;
}

/* Price */

.header5 h2 {
  margin: 0rem 0 2rem 0;
  font-weight: 300;
}

/* Product Description */

.product-main p {
  opacity: 0.5;
  margin: 2rem 0;
  line-height: 1.45;
}

.focus {
  text-transform: uppercase;
  margin: 0 0 1rem 0;
  padding: 0 0 0.9rem 0;
  border-bottom: 0.2rem solid rgba(250, 250, 250, 0.3);
}

.focus span:last-child {
  margin: 0 0 0 1rem;
  width: 100%;
}

.focus span:first-child {
  border-bottom: 0.2rem solid #fff;
  padding: 0 0 0.9rem 0;
}

/* Choose color / quantity  */

.btns-group {
  width: 100%;
  margin: 0 0 2rem 0;
}

/* Total Price  */

.product-total {
  margin: 0 0 2rem 0;
}

.product-total p {
  font-weight: 700;
  font-size: 2rem;
  opacity: 0.5;
}

.product-total h3 {
  margin: 0 0 1rem 0;
}

/* Add to cart button  */

.product-add {
  border: 1px solid #fff;
  width: 60%;
  margin-left: auto;
  cursor: pointer;
  margin-right: auto;
  padding: 1.5rem;
  margin-bottom: 10px;
  border-radius: 5rem;
  transition: all 0.5s ease-out;
}

.product-add:hover {
  background-color: #fff;
  color: #2e282a;
}

.product-btns a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 880px) {
  .cardPF {
    flex-wrap: wrap;
    margin-left: 15px;
    width: auto;
  }
}
