@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.form {
  display: -webkit-box;
  background-color: rgb(248, 247, 205);
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  -webkit-box-pack: center;
  padding-top: 25px;
  padding-bottom: 25px;
  justify-content: space-between;
}

.feedback-input {
  color: rgb(0, 0, 0);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #000000;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #cc4949;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

.submitButton {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background: #000000;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 400;
}
.submitButton:hover {
  background: #494949;
}

@media (max-width: 880px) {
  .form {
    flex-wrap: wrap;
  }
}
