.App {
    display: flex;
    flex-wrap: nowrap;
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Grandstander&display=swap");
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  .container22 {
    height: 100vh;
  }
  .side-nav,
  .nav-menu {
    height: 100%;
  }
  .side-nav .nav-menu {
    list-style: none;
    padding: 40px 0;
    width: 200px;
    background-color: #3498db;
  }
  .side-nav .nav-item {
    position: relative;
    padding: 10px 20px;
  }
  .nav-item.active {
    background-color: #fff;
    box-shadow: 0px -3px rgba(0, 0, 0, 0.2), 0px 3px rgba(0, 0, 0, 0.2);
  }
  
  .menu-text {
    padding: 0 20px;
  }
  .side-nav .nav-item.active::before {
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: 100%;
    right: 0;
    height: 150%;
    width: 20px;
    border-bottom-right-radius: 25px;
    box-shadow: 0 20px 0 0 #fff;
  }
  .side-nav .nav-item.active::after {
    content: "";
    position: absolute;
    background-color: transparent;
    top: 100%;
    right: 0;
    height: 150%;
    width: 20px;
    border-top-right-radius: 25px;
    box-shadow: 0 -20px 0 0 #fff;
  }
  
  .info {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
  }

  .company {
      width: 65%;
      text-align: start;
      margin: 45px;
      font-style: oblique;
      font-size: 18px;
      font-weight: 900;
  }